* { margin:0; padding:0; }
*, *:before, *:after { box-sizing:border-box; }

body {
    font:1em Arial, sans-serif;
    color:white;
    background: black url("../img/background-dead-forest.jpg") no-repeat fixed center; 
}

header {
    text-align: center;
}

.page { 
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width:980px;
    background:black;
}

.content {
    width:100%;
    padding: 0 10% 0 10%;
}

.item{
    text-align: center;
    padding-top: 20px;
}

footer {
    padding-top: 80px;
}

h1 {
    padding-bottom: 20px;
}

/* unvisited link */
a:link {
    color: #06F54D;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #06F54D;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #06F54D;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: #06F54D;
    text-decoration: none;
}
